@import "../../scss/main.scss";

.navigation-wrapper {
  position: fixed;
  right: 142px;
  top: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .navigation__user-buttons {
    li {
      a {
        padding: 10px 20px 10px 20px;
        color: $gray;
        &:hover {
          border: 1px solid $gold;
        }
      }
    }
  }
  .navigation__buttons {
    color: $dark-gray;
    font-size: 18px;
    li {
      margin-top: 30px;

      a {
        cursor: pointer;
        padding: 10px 20px 10px 20px;
        margin-left: 10px;
        transition: 0.3s;
        &:hover {
          border: 1px solid $dark-gray;
          font-size: 20px;
        }
      }
    }
  }
}
