@import "./settings/fonts";
@import "./settings/reset";
@import "./settings/colors";
body {
  font-family: $font-base;
}
ul {
  display: flex;
  li {
    text-decoration: none;
    a {
      text-decoration: none;
    }
  }
}
